@model StudentsViewModel
@{
    ViewBag.Title = "სტუდენტები";
}

@section HeaderSection {
    <link href="~/Content/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/loader/loader.css" rel="stylesheet" />
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
}

@section Breadcramps {
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-users"></i> @ViewBag.Title</li>
    </ol>
}

<div class="box">
    <div class="box-header with-border">
        <a href="@Model.StudentCreateUrl" class="btn btn-flat btn-default"><i class="fa fa-plus"></i> დამატება</a>

        <div class="box-tools pull-right">

        </div>
    </div>
</div>

<div class="box">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-3">
                <input type="text" class="form-control" id="search-phrase"  placeholder="საძიებო სიტყვა"/>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="birthdate-from" placeholder="დაბადების თარიღი (მინიმუმ)" />
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="birthdate-to" placeholder="დაბადების თარიღი (მაქსიმუმ)" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-flat btn-success" id="filter-submit"><i class="fa fa-filter"></i> გაფილტვრა</button>
                <button class="btn btn-flat btn-warning" id="clear-filter"><i class="fa fa-times"></i> გასუფთავება</button>
            </div>
        </div>
        <div class="box-tools pull-right">

        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <table id="users-table" class="table table-bordered table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>პირადი ნომერი</th>
                            <th>სახელი</th>
                            <th>გვარი</th>
                            <th>დაბადების თარიღი</th>
                            <th>სქესი</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="students-table-body">
                        @foreach (var item in Model.StudentGridItems)
                        {
                            <tr>
                                <td>@item.PersonalNumber</td>
                                <td>@item.Firstname</td>
                                <td>@item.Lastname</td>
                                <td>@item.Birthdate</td>
                                <td>@item.Gender</td>
                                <td>
                                    <a href="@item.StudentUpdateUrl" class="btn btn-xs btn-primary"> <i class="fa fa-pencil"></i> რედაქრირება</a>
                                    <a href="@item.StudentDeleteUrl" class="btn btn-xs btn-danger delete-btn"> <i class="fa fa-trash-o"></i> წაშლა</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section FooterSection {
    <script>
        var studentsGetFilteredUrl = "@Model.StudentsGetFilteredUrl";
    </script>
    <script src="~/Content/plugins/loader/loader.js"></script>
    <script src="~/Content/plugins/jQuery/jquery.numeric-input.js"></script>
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/plugins/toastr/toastr.min.js"></script>
    <script src="~/Content/plugins/toastr/toastrNotification.js"></script>
    <script src="~/Content/plugins/bootbox/bootbox.min.js"></script>
    <script src="~/Content/plugins/template7/template7.min.js"></script>
    <script src="~/Content/scripts/Students/Students.js"></script>
    <script id="students-template" type="text/Template7">
        {{#each Students}}
        <tr>
            <td>{{PersonalNumber}}</td>
            <td>{{Firstname}}</td>
            <td>{{Lastname}}</td>
            <td>{{Birthdate}}</td>
            <td>{{Gender}}</td>
            <td>
                <a href="{{StudentUpdateUrl}}" class="btn btn-xs btn-primary"> <i class="fa fa-pencil"></i> რედაქრირება</a>
                <a href="{{StudentDeleteUrl}}" class="btn btn-xs btn-danger delete-btn"> <i class="fa fa-trash-o"></i> წაშლა</a>
            </td>
        </tr>
        {{/each}}
    </script>
}